<a href="https://colab.research.google.com/github/vamsiteja142/Random_Forest_Regressor/blob/master/Random_Forest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd 
import numpy as np

In [0]:
from google.colab import files
upload = files.upload()

Saving beer_data.csv to beer_data.csv

In [0]:
dataset = pd.read_csv('beer_data.csv')

In [0]:
dataset.columns

Index(['ABV', 'Ratings', 'Cellar Temperature', 'Score',
       'min_cellar_temperature', 'max_cellar_temperature'],
      dtype='object')

In [0]:
dataset['min_cellar_temperature'] = dataset['Cellar Temperature'].apply(lambda x : int(x.split('-')[0].strip()))
dataset['max_cellar_temperature'] = dataset['Cellar Temperature'].apply(lambda x : int(x.split('-')[1].strip()))

In [0]:
dataset = dataset[['ABV', 'Ratings', 'min_cellar_temperature', 'max_cellar_temperature', 'Score']]

In [0]:
dataset.head()

   ABV  Ratings  min_cellar_temperature  max_cellar_temperature  Score
0  7.5        1                      40                      45   4.08
1  5.3       22                      40                      45   3.82
2  9.0        1                      45                      50   4.03
3  4.6        1                      35                      40   4.00
4  6.9        1                      45                      50   3.75

In [0]:
x = dataset.iloc[:,:-1]
y = dataset.iloc[:,-1]

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
x.head()

   ABV  Ratings  min_cellar_temperature  max_cellar_temperature
0  7.5        1                      40                      45
1  5.3       22                      40                      45
2  9.0        1                      45                      50
3  4.6        1                      35                      40
4  6.9        1                      45                      50

In [0]:
y.head()

0    4.08
1    3.82
2    4.03
3    4.00
4    3.75
Name: Score, dtype: float64

In [0]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [0]:
x_train.head()

      ABV  Ratings  min_cellar_temperature  max_cellar_temperature
1086  5.2        5                      40                      45
619   5.6        1                      35                      40
1630  4.8        2                      40                      45
563   6.5        3                      40                      45
570   5.1        0                      40                      45

In [0]:
print(x_train),
print(x_test),
print(y_train),
print(y_test)

      ABV  Ratings  min_cellar_temperature  max_cellar_temperature
1086  5.2        5                      40                      45
619   5.6        1                      35                      40
1630  4.8        2                      40                      45
563   6.5        3                      40                      45
570   5.1        0                      40                      45
...   ...      ...                     ...                     ...
763   5.2        6                      40                      45
835   4.9        3                      40                      45
1216  6.0        1                      40                      45
559   4.5        2                      40                      45
684   7.4        4                      40                      45

[1304 rows x 4 columns]
       ABV  Ratings  min_cellar_temperature  max_cellar_temperature
1336   4.8        2                      35                      40
587    5.1        0                      35                      40
602    4.0        3                      40                      45
527    7.5        3                      45                      50
76    10.6        2                      45                      50
...    ...      ...                     ...                     ...
638    5.6        1                      40                      45
289    6.5        8                      40                      45
829    5.1        0                      35                      40
878    5.0       17                      35                      40
1214   8.0       24                      45                      50

[327 rows x 4 columns]
1086    3.79
619     3.90
1630    3.44
563     3.21
570     0.00
        ...
763     3.70
835     3.41
1216    4.35
559     3.29
684     3.74
Name: Score, Length: 1304, dtype: float64
1336    3.13
587     0.00
602     2.82
527     3.91
76      4.38
        ...
638     2.96
289     4.13
829     0.00
878     4.05
1214    4.14
Name: Score, Length: 327, dtype: float64

In [0]:
from sklearn.ensemble import RandomForestRegressor

In [0]:
rfr = RandomForestRegressor(n_estimators = 100, criterion = 'mse', n_jobs = -1, random_state = 2)

In [0]:
rfr.fit(x_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=-1, oob_score=False,
                      random_state=2, verbose=0, warm_start=False)

In [0]:
y_pred = rfr.predict(x_test)

In [0]:
print(y_pred)

[3.62446595 0.         3.53964571 3.87562683 4.03805    3.67627549
 3.609325   0.         3.49430231 3.60370501 3.85077    3.5029
 3.34974238 3.6604     4.0464     3.75155344 3.65754167 4.07044
 3.45085833 3.92693463 3.92472468 4.03721923 0.         4.1458
 3.9098     0.         3.8892     3.84112976 3.66672539 3.90041667
 4.03095795 0.         3.94508333 0.         3.9458     3.07703333
 3.7085     3.97112    3.8269     3.02595786 3.74883153 3.1039
 3.85077    4.07410832 3.77886321 3.93403683 4.0832     3.55177143
 3.86017675 4.02335    3.984      3.60370501 3.94906667 3.85114755
 4.073875   3.74883153 0.         3.96409998 3.88798968 3.5124
 4.00676    4.280735   3.94665111 0.         3.83584358 3.68181119
 4.05483327 3.46193667 3.54947    4.0976     3.86004857 3.79848095
 3.40820474 3.94999667 3.79032667 4.02698778 3.7835569  3.46085
 4.20920333 3.64607476 3.6395     3.8527     3.9485     3.5181
 3.82591167 3.2169     3.77886321 0.         4.011115   3.88392857
 3.59749656 3.02595786 0.         3.93403683 0.         3.6314
 3.2549     3.3771     3.95195667 3.68242141 3.60828378 3.55762
 3.827375   3.95598583 3.77936821 3.83635833 3.88855381 3.70403988
 3.88265    3.96409998 3.74154    3.77886321 4.16555306 3.67428
 0.         3.85356    3.5067     3.8297     3.77905138 3.9166
 3.92615    0.         3.87709345 3.77936821 3.2434     3.29511167
 3.7752     3.709      3.85856256 3.70503349 3.83764905 0.
 3.58826667 3.8482     3.78105    3.7945     3.70477786 3.485
 3.68976944 3.73443548 3.84681452 3.85999833 3.89057524 0.
 3.88121667 3.27106    4.1122     3.86643333 4.23473333 3.58401459
 2.8188     0.         0.         3.42604226 0.         3.71716405
 0.         0.         3.96292667 3.90925    3.796295   3.66672539
 3.2323     3.83578429 3.74126667 3.91409994 3.60370501 3.6861081
 3.3766     3.88491    3.68828167 3.59340571 3.95182    3.5758
 3.60107639 4.0063     4.1463     3.98789111 3.0537     3.9932
 3.64045679 3.67627549 3.51134988 4.03828404 0.         3.81098
 3.50139397 3.55831818 3.80635    3.8162     0.         3.7827
 3.3066156  3.9672     0.         3.76510476 3.50139397 3.79145152
 3.98789111 3.71307881 3.84563543 3.8172126  3.58069364 3.40259168
 4.05       3.8787     3.51134988 0.         3.85486553 0.
 3.5022     3.7613     3.67627549 0.         3.935725   4.15819643
 0.         0.         3.75155344 3.50139397 3.77936821 3.3527
 3.67428    0.         3.5162     0.         3.81935    3.91079
 3.9713     4.03814    0.         3.21931873 3.68976944 0.
 0.         3.8061     3.62446595 3.7456     4.0842     3.95828795
 3.77965345 3.61828923 3.68828167 3.810875   3.8172126  4.1653
 0.         3.310633   3.56587071 3.85356    3.9954     3.41211903
 3.44671798 0.         3.6992     3.984      3.67428    3.7916
 3.34521468 4.02335    3.70403988 0.         3.7707     4.03419333
 3.65949333 3.9697     3.38153143 3.92646667 3.15905    4.18384333
 0.         3.7982     3.66345    3.77905138 3.456425   3.8892
 3.68242141 3.88906177 4.04400956 3.80455    4.1681     3.77419405
 3.81299778 3.57185    3.60215398 3.8335     0.         3.7795
 3.8683     3.5243     3.9202     0.         0.         4.1259171
 3.58318405 3.72172833 3.28736818 3.68828167 3.99283517 0.
 4.09540476 3.38153143 0.         3.96996667 3.93237667 3.79061667
 3.5124     4.23766345 3.28195    3.80864611 3.72051893 3.60215398
 3.57187143 4.18915429 3.77886321 3.38153143 3.8963     3.34168833
 3.60828378 3.30513976 3.8261596  3.89003113 3.80147719 3.76854286
 0.         3.5831     3.9641    ]

In [0]:
def rmsle(y_test, y_pred):
  error = np.square(np.log10(y_pred + 1) - np.log10(y_test + 1)).mean() **0.5
  score = 1 - error
  return score

In [0]:
rmsle(y_test, y_pred)

0.9532402297123669